$black: #000;
$white: #fff;
$blue: #0072c6;

$cubic: cubic-bezier(0.45, 0.05, 0.55, 0.95);

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, darken($blue, 10%), lighten($black, 5%));
  font-family: 'Roboto', arial, sans-serif;
  * {
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
}
.site-header {
  height: 4rem;
  margin-bottom: 2rem;
  .user {
    float: right;
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: linear-gradient(to bottom right, $white, darken($white, 10%));
    filter: drop-shadow(.125rem .25rem .5rem rgba($black, .5));
    .name {
      font-weight: bold;
    }
    i {
      font-size: 2rem;
      background: $black;
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      text-align: center;
      color: $blue;
      border: .25rem solid $blue;
      padding: .25rem;
      margin: -1rem -1.5rem -1.5rem .5rem;
      float: right;
      box-shadow: .125rem .25rem .5rem rgba($black, .5);
    }
  }
}
.wrap {
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  position: relative;
  perspective: 1200px;
}
.card {
  position: relative;
  margin: 0 0 22rem;
  font-size: 3rem;
  text-align: center;
  .face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 8rem 2rem;
    background: linear-gradient(to bottom right, $white, darken($white, 10%));
    box-shadow: .125rem .25rem .5rem rgba($black, .5);
    min-height: 20rem;
    border-radius: 1rem;
    filter: opacity(1);
    overflow: hidden;
    transition: {
      property: transform, filter;
      duration: .25s;
      timing-function: $cubic;
    }
    &.e {
      font-family: 'Roboto', arial, sans-serif;
    }
    &.f {
      font-family: 'Sacramento', cursive;
    }
    &:before, &:after {
      content: '';
      position: absolute;
    }
    &:before {
      top: 0;
      bottom: 0;
      right: 0;
      width: 1rem;
      border-radius: 0 1rem 1rem 0;
      background: linear-gradient(to right, transparent, lighten($black, 50%));
    }
    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      height: 1rem;
      border-radius: 0 0 1rem 1rem;
      background: linear-gradient(transparent, lighten($black, 50%));
    }
  }
  .q {
    backface-visibility: visible;
  }
  .a {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  &.show-answer {
    .q {
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }
    .a {
      backface-visibility: visible;
      transform: rotateY(360deg);
    }
  }
}
button {
  display: block;
  margin: 0 auto;
  padding: .5rem;
  font-size: 2rem;
  background: $white;
  border: .125rem solid transparent;
  border-radius: 1rem;
  width: 10rem;
  box-shadow: .125rem .25rem .5rem rgba($black, .5);
  cursor: pointer;
  transition: {
    property: color, background, box-shadow, border, transform;
    duration: .2s;
    timing-function: $cubic;
  }
  &:hover, &:focus {
    transform: translate(-2px, -4px);
    background: $blue;
    color: rgba($white, .9);
    box-shadow: .25rem .5rem .5rem $black;
  }
  &:active {
    transition-duration: .1s;
    transform: translate(0, -1px);
    background: darken($blue, 10%);
    color: $white;
    border: .125rem solid $blue;
    box-shadow: .125rem .25rem .5rem rgba($black, .5);
  }
}
.site-footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  .option {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: linear-gradient(to bottom right, $white, darken($white, 10%));
    box-shadow: .125rem .25rem .5rem rgba($black, .5);
    &:not(:last-of-type) {
      margin: 0 0 .5rem;
    }
  }
}
