select {
  -webkit-appearance: none;
  background: rgba($black, .1);
  border: 0;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
  cursor: pointer;
}
